.admin-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7d98a1; /* Background color similar to the image */
    background-image: url('../../../public/assets/background2.jpeg');
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
  }
  
  .dashboard-container {
    background-image: url('../../../public/assets/backgroundPlane.jpeg');
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-color: #d3d3d3; /* Light gray background */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 2px solid #3a75a1; /* Border similar to the image */
  }
  
  .dashboard-button {
    background-color: #1e2a3a; /* Dark button color */
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 250px;
    text-align: center;
    font-weight: bold;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .dashboard-button:hover {
    background-color: #2e3b4d;
  }
  